<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Confirm Deleting "{{group.name}}"</h4>
            </div>
            <div class="modal-body" >
               <p class="confirm-modal-content">Are you sure you want to delete <strong>{{group.name}}</strong> group ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="delete(group)">Yes</button>
                <button type="button" class="btn btn-success" ng-click="$hide()">No</button>
            </div>
        </div>
    </div>
</div>
